.hidden {
  display: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }
}
/*----- Header -----*/
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list,
.contacts {
  display: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo {
  padding: 16px 0;
  display: block;
}
.header-logo .logo-part {
  color: #2e2f42;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .nav-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link.current {
    position: relative;
  }
  .nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }
  .contacts {
    font-style: normal;
    display: block;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  .nav-link:focus,
  .nav-link:hover,
  .contacts-link:focus,
  .contacts-link:hover,
  .nav-link.current {
    color: #404bbf;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/*--- mobile menu ---*/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.menu-nav-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.menu-contacts-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
}
.menu-card-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 48px;
}
.card-soc-icon {
  background-color: #4d5ae5;
  fill: #f4f4fd;
}
.soc {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #404bbf;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/*--- Hero ---*/
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: 0 auto;
}
.hero {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 320px;
  margin: 0 auto;
  padding: 72px 0;
}
.hero-btn {
  border-radius: 4px;
  border: none;
  height: 56px;
  min-width: 169px;
  display: block;
  cursor: pointer;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  text-align: center;
  margin: 72px auto 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
  .hero {
    max-width: 768px;
    padding: 112px 0;
  }
  .hero-btn {
    margin: 36px auto 0;
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding: 188px 0;
  }
  .hero-btn {
    margin: 48px auto 0;
  }
}
/* ---features---*/
.features {
  padding: 96px 0;
}
.container-features {
  margin: 0 auto;
}
.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.features-icon {
  display: none;
}
.features-item-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 768px) {
  .container-features {
    width: 768px;
  }
  .features-list {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px 24px;

    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
  }

  .features-item-text {
    width: 356px;
    height: 100%;
  }
}
@media screen and (min-width: 1158px) {
  .features {
    padding: 120px 0;
  }
  .container-features {
    width: 1158px;
  }
  .features-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
  }
  .features-list {
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
  }
  .features-item {
    width: calc((100% – 72px) / 4);
  }
  .features-item-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .features-item-text {
    font-weight: 400;
    width: 264px;
    height: 100%;
  }
  .icon-svg {
    align-items: center;
  }
}
/* ---team---*/
.team {
  padding: 96px 0;
}
.container-team {
  margin: 0 auto;
  background-color: #f4f4fd;
}
.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.team-item {
  width: 264px;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.container-card {
  padding: 32px 0;
}
.card-item-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.card-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}
.card-list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.card-item {
  display: flex;
  gap: 24px;
  width: 40px;
  height: 40px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-soc-icon {
  fill: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.soc {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc:hover,
.soc:focus {
  background-color: #404bbf;
}
.soc-icon {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-icon:focus,
.soc-icon:hover {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .container-team {
    width: 768px;
  }
  .team-list {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 64px 24px;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1158px) {
  team {
    padding: 120px 0;
  }
  .container-team {
    width: 1158px;
  }
  .team-list {
    gap: 24px;
  }
  .team-item {
    width: calc((100% – 72px) / 4);
  }
}
/* ---portfolio---*/

.portfolio {
  width: 320px;
  padding: 96px 0;
}
.portfolio-title {
  align-items: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.container-portfolio {
  margin: 0 auto;
}
.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .portfolio-cover-text {
  transform: rotateY(0);
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.portfolio-card {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-card-text {
  font-weight: 400;
  font-size: 16px;

  color: #434455;
}
.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-cover-text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-wraper {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  background: #4d5ae5;
}
@media screen and (min-width: 768px) {
  .portfolio {
    width: 768px;
  }
  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px 24px;
  }
  .portfolio-item {
    width: calc((100% – 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .portfolio {
    width: 1158px;
  }
  .portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px 24px;
  }
  .portfolio-item {
    width: calc((100% – 72px) / 3);
  }
}
/* ---footer--- */
.footer-logo {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}
.footer-text,
.footer-logo-part {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 288px;
  align-items: center;
  margin-bottom: 72px;
}
.soc-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
.soc-footer {
  align-items: center;
}
.soc-footer-list {
  gap: 16px;
  margin-bottom: 72px;
}
.footer-s:hover,
.footer-s:focus {
  background-color: #31d0aa;
}
.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-form-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  border: none;
}
.footer-btn-svg {
  margin-left: 16px;
  fill: #fff;
}
.footer-form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.footer-input {
  display: flex;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: transparent;
  padding-left: 16px;
}
.footer-input::placeholder {
  background-color: #2e2f42;
}
@media screen and (min-width: 768px) {
  .container-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }
  .footer-logo {
    display: block;
  }
  .footer-input {
    display: block;
  }
  .footer-subscribe {
    display: block;
  }
  .footer-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: first baseline;
    justify-content: flex-start;
  }
  .soc-text {
    display: block;
  }
}
@media screen and (min-width: 1158px) {
  .container-footer {
    display: flex;
    flex-direction: row;
    align-items: first baseline;
  }
  .footer-subscribe {
    margin-left: 80px;
  }
  .soc-footer-list {
  }
}
